
{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Learning Log</title>

  {% bootstrap_css %}
  {% bootstrap_javascript %}

</head>
<body>
  {% comment %} static navbar {% endcomment %}

  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">

      <div class="navbar-header">
        <!-- navbar toggle -->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false"></button>
        <a class="navbar-brand" href="{% url 'learning_logs:index' %}">Learning Log</a>
      </div>

      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="{% url 'learning_logs:topics' %}">Topics</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated%}
          <li><a>Hello, {{user.username}}.</a></li>
          <li><a href="{% url 'users:logout' %}" style="color:">Sign out</a></li>
          {% else %}
          <li><a href="{% url 'users:register' %}">Sign Up</a></li>
          <li><a href="{% url 'users:login' %}">Sign In</a></li>
          {% endif %}
        </ul>
      </div>

    </div>

  </nav>
  <!-- end of navbar-->

  <div class="container">
    <div class="page-header">
      {% block header %}{% endblock%}
    </div>
    <div>
      {% block content %}{% endblock%}
    </div>

  </div><!--container collapse-->

</body>
</html>



{% comment %} <p>
    <a href="{% url 'learning_logs:index' %}">Learning Log</a> -
    <a href="{% url 'learning_logs:topics' %}">Topics</a> -
    {% if user.is_authenticated %}
      Hello, {{user.username}}.
      - <a href="{% url 'users:logout' %}">log out</a>
    {% else %}
      <a href="{% url 'users:login' %}">log in</a> -
      <a href="{% url 'users:register' %}">register</a>
    {% endif %}
</p>

{% block content %}

{% endblock %} {% endcomment %}