{% extends "learning_logs/base.html" %}

{% load bootstrap3%}
{% load humanize%}

{% block header%}
<h2>{{topic}} </h2>
{% endblock%}

{% block content %}
<p><a href="{% url 'learning_logs:new_entry' topic.id %}" class="btn btn-primary">Add new entry</a></p>


{% for entry in entries %}
 <div class="panel panel-default">
  <div class="panel-heading">
    <h3>
      <small>{{entry.date_added| naturaltime}}</small>
      {% comment %} <small>Edited{{entry.date_updated | naturaltime}}</small> {% endcomment %}
      <small>
        <a href="{% url 'learning_logs:edit_entry' entry.id %}" class="btn btn primary">edit entry</a>
      </small>
    </h3>
  </div>
  <div class="panel-body">
    {{entry.text | linebreaks}}
  </div>
 </div>
     
{% empty %}
    There are no entry for this topic yet.
{% endfor %}



{% endblock %}